[2021-12-08 04:46] Rishabh-malhotraa opened #6 "Add OAuth - Google LinkedIn"
## Ability to log in as a mentor/mentee

_**send mentor/mentee information as query parameter while signing up? I can think this is one way to do this but if someone has a better alternative; do mention that in the comments of this issue**_

Oauth Using LinkedIn - Facebook - Google - Github

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/54576074/145148967-78885a47-30

[2021-12-08 05:18] Rishabh-malhotraa opened #7 "Add an Admin Panel"
Add an Admin Panel to monitor all scheduled meeting meetings, and if there was a no-show; time out that person's account and send him/her a message asking for an explanation.

Before Working on this. Let me know how you plan to solve this, by explaining your thought process.

You can use a template admin panel like (I feel this can add a lot of bloat)
https://berrydashboard.io/free/

**_(Or you ca

[2021-12-08 05:34] Rishabh-malhotraa opened #8 "Add a Bookings Page for mentor/mentee"
Bookings Page is where a mentor gets notified about all the new bookings and he/she could confirm cancel or reschedule a meeting.

It is also the place from which you join the meeting, and have the option to notify **no-show** to admin!

<img width="775" alt="image" src="https://user-images.githubusercontent.com/54576074/145153532-bacb0fa0-f16d-4776-a2d5-1bf8a08a8a78.png">

<img width="742" alt="i

[2021-12-08 05:37] Rishabh-malhotraa opened #9 "Improve Landing Page"
The current landing page looks alright, but I would ideally like to change it into something better

https://cuvette.tech/
The animation on the landing page is not hard to do if you find the lottie animation data for the same.

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/54576074/145154168-64d080c0-de40-489b-b44f-436f581c60bc.png">

[2021-12-08 05:40] Rishabh-malhotraa opened #10 "Add SMTP Sever"
Incorporate SMTP server to send emails to mentor-mentee when their booking is confirmed and also reminder email 30 minutes before the meeting

Also in the confirmed meeting email send an ics file
https://www.npmjs.com/package/ics

https://nodemailer.com/about/

https://www.youtube.com/watch?v=nF9g1825mwk

[2021-12-08 05:46] Rishabh-malhotraa opened #11 "Confirm Booking"
Once a mentor chooses a mentor picks a time slot, and enters relevant data, the backend should send information to the mentor, and once the mentor accepts the booking, a vita meet link needs to be created and add to the Booking Collection.

<img width="343" alt="image" src="https://user-images.githubusercontent.com/54576074/145155084-60191037-5ac5-451c-8423-a6cb65b53fa8.png">

https://github1s.com

[2021-12-08 05:54] Rishabh-malhotraa opened #12 "Improve booking Collection"
Once the booking is confirmed by the mentor, that time slot for that mentor should be disabled so no new user can book a meeting in the same time slot.

<img width="466" alt="image" src="https://user-images.githubusercontent.com/54576074/145155594-f1bc9fa7-a139-4983-a596-821ae0d32437.png">

Either Disable or completely remove the button. While you are at it also improve the contrast of the button

[2021-12-08 05:57] Rishabh-malhotraa opened #13 "Write Unit Test for end-points"
Write unit test to validate all our endpoints from the backend, (use a testing MongoDB database to do that), and then write a Github actions workflow to run all those tests before making any changes!

[2021-12-08 06:00] Rishabh-malhotraa opened #14 "Add Text-Search Support on Mentor Collection"
Use FTS-search provided by MongoDB to search a mentor by name company, year of graduation, etc.

<img width="586" alt="image" src="https://user-images.githubusercontent.com/54576074/145156422-e2d394a1-0c25-414f-ae92-c0f60179fdc1.png">

[2021-12-10 05:10] Rishabh-malhotraa opened #18 "Enable Time Conversion in DatePicker"
Convert the mentor's scheduled time slot to locale time:

to do this, we also have to change the way we store `avalilable_timeslot` information in the backend

**Before working on this, please explain your thought process! on how do you plan to restructure to `available_timeslots` collections**

![image](https://user-images.githubusercontent.com/54576074/145520322-b880962e-84bb-4617-b8ed-b0e3e7ee4

[2021-12-10 15:17] parthn2 commented on #14
Hey Can I work on this ?

[2021-12-10 15:45] Rishabh-malhotraa commented on #14
Sure, that would be great!

Also don't forget to add debouncing to the text field in the front end.

As for mock data you need to create a Mongo db database with name Vita and uncomment the fake-data endpoint in the routes folder and visit that end point to add data, or you can just copy the code written in that file and run that script using node

[2021-12-10 18:31] parthn2 commented on #14
Mentor cards are not coming when running on local machine, Is there any issue?

[2021-12-11 10:32] Rishabh-malhotraa commented on #14
You need to download [mongo db  community](https://docs.mongodb.com/manual/installation/) server and mongodb compass, create a Collections  called `Vita`

1. Uncomment these lines https://github.com/Rishabh-malhotraa/Vita/blob/main/api/src/routes/apiRoutes.ts#L27-L28
2. Run the server `npm run dev`
3. go to endpoint `https://localhost:5000/api/data`  on chrome URL
4. go to endpoint `https://localh

[2021-12-13 15:33] Rishabh-malhotraa commented on #14
@parthn2 I have included the exported dump files of the data, so you could just follow this guide [here](https://github.com/Rishabh-malhotraa/Vita/blob/main/Setting%20up%20Database.md)

[2021-12-14 11:34] parthn2 commented on #14
I am working on mac. So, the 3rd step(PATH) was different and So I tried with some article but still getting error.
Mongo is installed in my system
I am getting this error:
Error: couldn't connect to server 127.0.0.1:27017, connection attempt failed: SocketException: Error connecting to 127.0.0.1:27017 :: caused by :: Connection refused
So, by trying to solve this I got one more issue and so on af

[2021-12-14 12:26] Rishabh-malhotraa commented on #14
Make sure that you have MongoDB server is running before trying to connect to the database

[code]

You can read more on [here](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/?_ga=2.126039565.1819320385.1639398073-294201382.1636126393#run-mongodb-community-edition)

[2021-12-15 18:42] parthn2 commented on #14
Finally Got done with the setup, would start the work now 😀

[2021-12-16 04:37] Rishabh-malhotraa commented on #14
Great! I'll add the link to the installation guide for mac users.

[2021-12-20 18:43] Rishabh-malhotraa opened #19 "Make Backend Serverless"
Restructure Backend from Heroku to serverless architecture (better for long-term scalability).

- Before going any further, research on which provider to use and why? (AWS, Azure, GCP)
- Research on how you would maintain sessions.
- Research on how to use serverless when developing locally.
- Rate limit end-points, to prevent DDoS attacks.

---

[2021-12-27 06:24] Aniket-508 commented on #9
@Rishabh-malhotraa I would like to work on this! I was confused with the layout too as in where to put animation, CTA , content?

[2021-12-27 07:13] Rishabh-malhotraa commented on #9
The animation cuvette is using is called lottie animations. Basically they have done animations in after effects, export the lottie data, and just load that data to the browser using a lottie component.

So if you somehow manage to get the lottie data, you install react-lottie library and  pass that data to the Lottie component as props, and animations would work.

The main animations work is done

[2021-12-27 07:37] Aniket-508 commented on #9
I was asking about how to place the current landing's page content in that? And do you want the exact animation as cuvette's?

[2021-12-27 07:43] Rishabh-malhotraa commented on #9
Right @Aniket-508 , so yes an exact animation of what cuvette uses would be great!

As far as how to place content w.r.t. to our current landing page.
We would most probably shift the search field to the left side below the "Seach, Schedule, Meet" text and have animations on the right!

Also if we have a cool animation like cuvette, I would remove the particle effect in the background that we curr

[2022-01-02 18:21] manav-06 commented on #13
@Rishabh-malhotraa can you assign this to me?

[2022-01-02 18:43] Rishabh-malhotraa commented on #13
How do you plan to implement testing(I want to know your approach)? Plus, what library are you thinking of using?

[2022-01-04 18:15] milanjain2208 commented on #12
Hi Rishabh,
I would love to work on this. I have a few questions for you:

1. Does the timeslots/sessions have to be of exactly 1 hour? Can it be more or less than one hour(example 30 min, 45 min)?

2. Does the start_hour have to be  perfect 10:00 or 12:00or  23:00 etc. Can the mentor set it to something like 13:15(whenever the functionality is made for mentors to select time)

3. Currently it loo

[2022-01-04 18:15] milanjain2208 commented on #12
My current solution would be to store an array of available timeslots for each mentor where an available timeslot will be an object with start_time and end_time (unix time stamps or Date objects with GMT value). Tis will also solve the time conversion problem (https://github.com/Rishabh-malhotraa/Vita/issues/18). What do you think?

[2022-01-04 19:05] Rishabh-malhotraa commented on #12
Hey Milan, all this was made in just two weeks for Microsoft's hackathon. I did not put much thought into the backend logic, but better late than never, right? :P

It should either be 30 minutes, 45 minutes, or 1 hour, and the mentor would set this **when specifying his/her time preferences**(All this validation need to be done on the front-end while requesting timeslots from the user).
Obviously,

[2022-01-04 19:18] Rishabh-malhotraa commented on #12
Epoch time does not make sense since we are storing available time slots based on Day of the week, but I need to do some more research on this, maybe shifting axis to week 1 of epoch work, but I am not sure?

[code]
One of the flaws of this method would be converting time slots in different time zones would be a pain in the neck because a Monday timeslot for one timezone could be a Tuesday timeslo

[2022-01-11 22:31] Sahaj-Srivastava24 opened #21 "Replace the Card Grid with Carousel"
A Card Carousel could replace the Card Grid display scheme for displaying mentors and topics. The cards can be lazily loaded whenever they pop on the viewport and have a hover transition to display further links. The carousel would have the feature to scroll infinitely. A library could implement the whole carousel called [Swiper JS](https://swiperjs.com/).

[2022-01-12 07:55] Rishabh-malhotraa commented on #21
Hello @Sahaj-Srivastava24

What we require is to

- **add a carousel component on the landing page**, we don't really need to change the Card grid on the search mentor page. you can check how it's done on [adplist's](https://adplist.org/) landing page.
- Swiper JS looks nice, it has a react wrapper too. Originally I was also thinking of not using a heavy library and just using react-transition gro

[2022-01-16 08:51] Devansh-365 opened #22 "Add Login Page"
Adding a login page and giving the option to users of logging in with their Google, GitHub, Twitter, email account can make the process easier to access their data.

Login Page contains:
👉Login with Email
👉Login with Github
👉Login with Twitter
👉Login with Google

[2022-01-16 09:03] Rishabh-malhotraa commented on #22
<img width="834" alt="image" src="https://user-images.githubusercontent.com/54576074/149653811-626e8669-286c-4bea-9629-fcf3dbd51941.png">

we only need login from google and linkedIn

[2022-01-18 12:43] milanjain2208 commented on #12
Hi Rishabh,
Sorry for the late reply.
Yes, I agree with you. We can simple store timeslots in an array in normalized way instead of doing it by days. So something like this ->
[code]
Here Date can be an epoch as well. What do you say?

[2022-02-02 17:50] Rishabh-malhotraa commented on #6
https://www.7todos.com/signin

[2022-02-07 09:53] Rishabh-malhotraa commented on #7
The admin panel would be a different site on another subdomain.

- The admin should have two factored authentication.

I’m thinking of using any pre-existing admin panels library for React, but they usually provide many features but restrict customizability.

- Approve a mentor account
- **Ability to time-out ban or terminate any account.**
- Look at all the past — ongoing — upcoming mentorship se

[2022-02-26 14:10] Maneet-k commented on #22
@Rishabh-malhotraa  Can I work on this?

[2022-02-27 04:55] hazemessam commented on #10
I'm interested to work on it under GSSoC

[2022-02-27 05:04] hazemessam commented on #11
I'm interesting to work on it under GSSoC

[2022-02-27 05:52] hazemessam commented on #18
Is it a frontend task?

[2022-02-27 05:58] hazemessam commented on #18
Is it a frontend task?
the time that is stored in the database should be the mentor's local time and when frontend fetch it should convert it according to mentee selected local time

[2022-02-27 11:45] Gurdeep475 commented on #14
I would like to work on this issue under GSSOC`22. Please assign it to me.

[2022-02-27 22:27] hazemessam opened #30 "Fix typo error in "Confirm your Booking" form"
**Describe the bug**
"Get invite link in you mail" should be "Get invite link to your mail".

**Additional context**
I want to fix this under GSSoC'22.

**Screenshots**
![image](https://user-images.githubusercontent.com/49886457/155902487-ac9bf46a-c22d-4ad1-a971-b7243871cf01.png)

[2022-02-27 22:49] hazemessam commented on #30
I want to fix this under GSSoC'22.

[2022-02-28 02:46] Rishabh-malhotraa commented on #14
Hello, this is not an easy issue. Would you like to tell me how you plan to solve this issue, before assigning it to you. Thank you!

[2022-02-28 03:58] AnweshaRoses commented on #9
Hello I am a GSSOC participant, If the issue is still not fixed then I would love to work on it

[2022-02-28 04:08] Gurdeep475 commented on #14
My plan is to define a text index on the Mentor model, which will allow text search on documents, I assume to receive a string from the client, and the search will be performed, and matching docs will be returned.

[2022-02-28 05:03] Rishabh-malhotraa commented on #14
@Gurdeep475 perfect, that's what required.

You can [set up with database](https://github.com/Rishabh-malhotraa/Vita/blob/main/Setting%20up%20Database.md) with the mock data that are provided.

Let's break the Task into two-part, first, let's make the backend API for it, and then we would incorporate it with the frontend-- I would like to add debouncing and autosuggestion/completion on the fronten

[2022-02-28 05:05] Rishabh-malhotraa commented on #9
This is a low priority issue, meaning it's good to have but not really required, but still, if you want to work on it go ahead.
Can you let me know what designs do you have in mind? You can search on dribble and create a figma mockup of the same!

[2022-02-28 07:08] Gurdeep475 commented on #14
I have setup the database.

[2022-02-28 07:14] Gurdeep475 commented on #14
what's the next step?

[2022-02-28 07:14] Gurdeep475 commented on #14
database setup is ready, what's the next step?

[2022-02-28 07:54] Gurdeep475 opened #31 "Fix typo error in "Card Title under Topics""
**Describe the bug**
'Keeping Team Member **Movitvated**' should be 'Keeping Team Member **Motivated**'
![image](https://user-images.githubusercontent.com/32095032/155945111-12c7d545-788a-40c1-8cdb-97344ba5b98d.png)

[2022-02-28 07:54] Gurdeep475 commented on #31
I would like to fix this under GSSOC`22. Please assign it to me.

[2022-02-28 08:51] Gurdeep475 commented on #14
and please assign this issue to me under GSSOC`22.

[2022-02-28 09:03] Rishabh-malhotraa commented on #14
1. create a text index on the mentor model

2. you create API endpoint `/fts?metorSearchText=text`

3. you do a **Full-text Search** by extracting text from the query parameter `mentorSearchText` field and then return all the mentors in JSON format.
[code]

4. Don't think about the front-end right now. Just think about making the API and validate your API-endpoint using postman to check if you get

[2022-02-28 09:12] Rishabh-malhotraa opened #32 "Add Workflows for acknowledging Pull Request!"
Add Github bots to do some smart features
<img width="997" alt="image" src="https://user-images.githubusercontent.com/54576074/155955308-02b0b157-606d-4f66-922c-dee43565f3cd.png">

You can see how it's being implemented in this [repo](https://github.com/Suvraneel/Automated-assign-labeler).

[2022-02-28 09:59] jalanprakhar commented on #32
claim

[2022-02-28 13:22] artimanputra commented on #32
I would like to work on the issue, can you please assign it to me?

[2022-02-28 13:40] Gurdeep475 commented on #14
@Rishabh-malhotraa I would like to discuss the weights for the fields for the FTS search. I  have included the following relevant fields:  **first_name, last_name, job_title, company, description, expertise, language**. which field according to you should have more weight?

[2022-02-28 14:00] Sauvikn98 commented on #8
Hello @Rishabh-malhotraa. Can you assign me this Issue. I would like to work on this

[2022-02-28 14:57] lokita282 commented on #10
i'm a gssoc '22 participant and would like to work on this issue

[2022-02-28 17:20] Devansh-365 commented on #32
Hey Can you please assign it to me..

[2022-02-28 17:21] Rishabh-malhotraa commented on #32
@Devansh-365 Can we please get this done before 2 March, I would like to have these bots setup before the GSSOC'22 starts

[2022-02-28 17:23] Rishabh-malhotraa commented on #32
Hello @artimanputra, sorry for the confusion, but I created this issue to give it to @Devansh-365 in mind; I had talked to him on discord about it!
I hope you don't mind!

[2022-02-28 17:28] indraantoor opened #33 "Fix typo error in "Card Description Under Topics""
**Describe the bug**
There is a **typo** in the card description of the card with title "**Getting the most out of my internship**". It's written "**intership**" in the description and instead it should be "**internship**".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://vitaa-app.netlify.app/search'
2. Click on 'TOPICS'
3. Scroll down to 'Getting the most out of my internship

[2022-02-28 18:12] sulogna2001 commented on #22
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:12] sulogna2001 commented on #21
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:13] sagnik2001 commented on #22
Can I work on this under GSSoC 22

[2022-02-28 18:13] sagnik2001 commented on #6
Can I work on this under GSSoC 22

[2022-02-28 18:14] sagnik2001 commented on #9
Can I work on this under GSSoC 22

[2022-02-28 19:06] amir-ammar commented on #10
i'm a gssoc '22 participant and would like to work on this issue

[2022-02-28 19:07] amir-ammar commented on #11
i'm a gssoc '22 participant and would like to work on this issue

[2022-02-28 19:19] Rishabh-malhotraa commented on #10
@lokita282 @amir-ammar can you please tell me how do you plan to solve this issue, so we are on the same page, I'll assign you the issue once I'm happy that you understand what to do!

[2022-02-28 19:21] Rishabh-malhotraa commented on #6
Great, can you please tell me how do you plan to solve the issue, so that we are on the same page? If I', convinced that you understand what needs to be done, I'll assign you the issue

[2022-02-28 19:27] amir-ammar commented on #10
i will use ics to create the calendar event and then using nodemailer to send mails

[2022-02-28 19:28] Rishabh-malhotraa commented on #21
Hello @sulogna2001, we already have a PR in progress for this. Do you mind working on some other issue, thank you!

[2022-02-28 19:30] Rishabh-malhotraa commented on #33
Can you please check for more typos that might exist and fix all of them together?
You need to change this [file](https://github.com/Rishabh-malhotraa/Vita/blob/main/client/src/data/topics.ts)

[2022-02-28 19:32] Rishabh-malhotraa commented on #14
@Gurdeep475, I don't really have an opinion on it; what do you think is the best way to go about this?

[2022-02-28 19:33] Rishabh-malhotraa commented on #10
can you check if you can programmatically create a google meet/ zoom call link and add that to the ics file or mail

[2022-02-28 19:35] Rishabh-malhotraa commented on #18
This is in backlog right now, first we need to fix #12 first

[2022-02-28 19:35] amir-ammar commented on #10
yeah i can

[2022-02-28 19:41] Rishabh-malhotraa commented on #9
@sagnik2001 can you create a Figma mockup before trying to work on this change, so we know how you plan to improve the landing page!

[2022-02-28 19:41] sagnik2001 commented on #6
Sure, are you asking about adding an OAuth authentication to it ?? If yes, then I tell my method how to progress

[2022-02-28 19:44] indraantoor commented on #33
Yes Sure. I'll do it.

[2022-02-28 19:44] Rishabh-malhotraa commented on #6
Yes @sagnik2001 how do you plan to add OAuth, my reason for asking is not to test you but to make sure that you would be able to solve the issue without much help from the mentors, because this is a relatively difficult issue

[2022-02-28 19:50] sagnik2001 commented on #6
Yes yes, I got it I will use an npm package namely react-google-login which will be quite helpful for me adding a google OAuth authentication to it. I would use the components of the package ?? Are we okay?

[2022-02-28 19:55] Rishabh-malhotraa commented on #6
With `react-google-login` we would just do authentication from the frontend, and we would not be able to maintain sessions, i.e. every time a user comes to the website, he needs to login again to verify. There is no layer of persistence.

Can you go through what passport-js is
https://www.youtube.com/playlist?list=PL4cUxeGkcC9jdm7QX143aMLAqyM-jTZ2x (old, I followed this when I was learning authent

[2022-02-28 19:58] sagnik2001 commented on #6
Yes I can use docs of "passport-js" and can work it upon

[2022-02-28 19:59] Rishabh-malhotraa commented on #6
Great, I'll assign you the issue, once you understand how to implement PassportJS.
Its not easy take your time, it can take up to a week to truly grasp how auth works

[2022-02-28 20:01] sagnik2001 commented on #6
Okay, I look through the docs but there is an alternative of using firebase also which has its own OAuth ??

[2022-02-28 20:03] Rishabh-malhotraa commented on #6
Using OAuth with firebase makes sense when we are using firebase DB, but we are using express and MongoDB, so to your question no we cannot use firebase in this scenario.

[2022-02-28 20:05] sagnik2001 commented on #6
Okay, I looked through "PassportJS" and try to implement it.

[2022-02-28 20:40] hazemessam commented on #18
Ok, #12 looks interesting to me. Please add GSSoC'22 label to it and assigned it to me

[2022-02-28 20:42] hazemessam commented on #12
Please add GSSoC'22 label to it and assigned it to me

[2022-03-01 02:22] Gurdeep475 commented on #14
I think expertise should have highest weight, followed by job title, company, description, rest fields will be given 1 weight.

[2022-03-01 04:04] #33 closed

[2022-03-01 04:04] #31 closed

[2022-03-01 05:00] Gurdeep475 commented on #14
@Rishabh-malhotraa I have done most of the work but need guidance on Unit Test and CI-CD script part.

[2022-03-01 05:15] MaitriDA commented on #14
Can you please assign me thi issue under GSSOC'22

[2022-03-01 05:17] Rishabh-malhotraa commented on #14
I like this, but can you code it in a way so that we can change the weights later on.

I would like to test the API with some test cases to see how well it works with different weights?

We can leave the unit test, for now, try testing it manually by making requests through postman and checking if you are getting the correct response, after that, we will formally write some unite tests using jest

[2022-03-01 05:17] Rishabh-malhotraa commented on #14
Hey @MaitriDA it's been worked on by @Gurdeep475 do you mind working on something else thanks.

[2022-03-01 06:18] Gurdeep475 commented on #14
Yes using Model.syncIndexes() method, while connecting to DB, will update the text index.

[2022-03-01 06:29] Gurdeep475 commented on #14
**Manually Tested the API, the response looks good to me.**
![image](https://user-images.githubusercontent.com/32095032/156116760-48794792-6821-4d03-913f-98abbf877c87.png)

[2022-03-01 07:56] yogitasaini commented on #22
Please assign this task to me for GSSoC22

[2022-03-01 08:13] lokita282 commented on #10
I think to programmatically create a  google meet, we can use the google calendar api, and add that to the .ics file

[2022-03-01 10:12] Anish-Parkhi commented on #22
Hey can you assign me this task for GSSoC 22
I also have made a wireframe to get idea
![Login-Page-Demo](https://user-images.githubusercontent.com/93964690/156150020-2729071b-1cd7-4fa5-b2f6-eb2447106a46.PNG)

[2022-03-01 12:22] shireenjain opened #39 "Add contributing and code of conduct md"
**Feature**
I'd like to add a contributing and code of conduct md files for better reference. I'm willing to take up the issue as well.

[2022-03-01 12:33] Rishabh-malhotraa commented on #14
Looks good to mee too

I really want to make sure we write a unit test for this too. Would you like to do it, or should I create an issue so someone else can complete it once this PR gets Merged.

For backend end mocha/jasmine work better than jest which is more focused for front end testing

[2022-03-01 13:52] sagnik2001 commented on #6
Is this issue is under GSSoC 22??

[2022-03-01 14:32] Gurdeep475 commented on #14
I would let you tonight by 12:AM.

[2022-03-01 15:36] Rishabh-malhotraa commented on #32
Do you have experience with setting up github actions and CI/CD pipelines?

You can go through these resources
https://rishabh-malhotra.notion.site/Level-3-Intermediate-6b2ffc0c6f4f46faadf2262c2bc447d3#ac4f9510af234f93bb01e45e2872cc46

Then try to set it up

[2022-03-01 15:39] Rishabh-malhotraa commented on #6
Yes, can you please stop spamming on github issues, these kind of questions are better suited for discord sever.

[2022-03-01 16:44] Gurdeep475 commented on #14
I will mark the PR final, regarding unit testing and CI/CD you can make a separate issue.

[2022-03-02 08:06] Sahaj-Srivastava24 commented on #7
Hey @sulogna2001
Would you like to elaborate your ideas regarding no show mentors?

[2022-03-02 10:27] Jassi10000 opened #41 "Request to add a github action for both issues and PRs"
**Is your feature request related to a problem? Please describe.**

While opening issues / making PRs ,keeping a check of few things is very necessary

* Providing a valid title
* Provding a nice description
* While making the PR , tagging the issue

**Describe the solution you'd like**
For this I would like to add a github action to this repository

**Describe alternatives you've considered**
A c

[2022-03-02 10:53] Rishabh-malhotraa commented on #41
@Jassi10000 similar to #32

[2022-03-02 10:54] Jassi10000 commented on #41
Ohh , but its only for PRs

[2022-03-02 11:07] gaurikapoplai21 commented on #6
Hey is this issue assigned to anyone yet?

[2022-03-02 11:12] Rishabh-malhotraa commented on #6
Not yet

[2022-03-02 11:16] gaurikapoplai21 commented on #6
Yes, I was going through the passport-js playlist you mentioned above. Can this be assigned to me please?

[2022-03-02 16:42] Rishabh-malhotraa opened #42 "Add meta data to index.html"
Currently, the metadata which comes in handy for the preview link is set to the default value of "this app was created by create-react-app"

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/54576074/156406491-1f48b1b2-8a26-492a-804e-84c94edbd5eb.png">

Change it to:

files where changes need to be made
https://github.com/Rishabh-malhotraa/Vita/blob/main/client/public/in

[2022-03-02 17:38] indraantoor commented on #42
I am thinking of adding the meta description tag and the meta char set tag. They both are good to have for SEO.

Are you planning on doing something with Structured Markup too, it will help with rich snippets and that is definitely best to have for SEO. We can use JSON-LD for that.

[2022-03-03 03:25] DevRish commented on #6
Hi, I am willing to work on this, please assign it to me.

[2022-03-03 05:28] adarsharyan002 opened #43 "Add theme switcher"
I would like to add a theme switch button at the top, a light theme will be good for the website

[2022-03-03 13:01] Rishabh-malhotraa commented on #43
How to do you plan to implement theme switching, just so that we are on the same page about it.

[2022-03-03 13:42] himakhaitan opened #45 "Adding a custom page/redirect for the server url"
**Is your feature request related to a problem? Please describe.**
As of now the server URL when accessed shows a summy message. `Server is Running:))`

**Describe the solution you'd like**
I would like to construct an HTML page and make It a bit attractive. I plan to write intermediate CSS and make it as per the theme of the project

**Describe alternatives you've considered**
Another way of solv

[2022-03-03 18:27] zahrabenmohamed commented on #42
I am going to add an icon in the metadata and also turn the wesite responsive viewport ,title ,,and i will tryu to improve the tag description.My contribution is under GSSOC 2022

[2022-03-04 02:54] Rishabh-malhotraa commented on #45
Discussed on Discord, not required

[2022-03-04 02:54] #45 closed

[2022-03-04 03:07] Rishabh-malhotraa opened #46 "Add limit query parameter on /get-mentors endpoint"
Currently our `/get-mentors` end-point returns all the matched mentors, I would like to pass in a query parameter to tell the server how many mentors do we want to fetch

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/54576074/156691394-cc753601-55f1-493b-aaf1-b74f37bd417f.png">

add a query limit to `/get-mentors` endpoint to limit the number of mentors sent to the f

[2022-03-04 04:01] adarsharyan002 commented on #43
I will use localstorage to keep track of the property instead of using localState, and use simple css for the background and font-color

[2022-03-04 04:05] Rishabh-malhotraa commented on #43
Right, you also would have to do a lot of refactoring in codebase.

[2022-03-04 08:29] Lalit3716 commented on #46
Can I work on this?
I know how to solve this I will use limit method on Mongoose Model.

[2022-03-04 10:28] HarshKumarChoudary commented on #32
I created the PR. Please check for it and merge it.

[2022-03-04 11:01] SidharthMishra-07 opened #50 "Adding a Footer Component"
Adding a footer component as requested

![VitaFooter](https://user-images.githubusercontent.com/77619346/156752845-733c2911-ab17-4395-b4f6-6983a102766a.png)

[2022-03-04 18:32] Lalit3716 opened #52 "Add a hover overlay to user cards."
Currently a lot of information is being displayed on User card, we can extract away that info and display that in an overlay when user hovers on a card.

[2022-03-04 18:53] Rishabh-malhotraa commented on #52
Not something I'm looking to do, I like how our card looks right now.

[2022-03-04 18:57] Lalit3716 commented on #52
Oh okay cool!

[2022-03-04 21:22] the-halfbloodprince commented on #50
@Rishabh-malhotraa I'm a GSSoC contributor and would like to work on this. Would you assign this to me please if available?

[2022-03-05 04:38] shivam123-dev opened #54 "Adding Vita App's Meet Page in Documentation (i.e. README.md)"
I am GSSOC'22 contributor. So, @Rishabh-malhotraa kindly assign this issue to me. So that I can update the documentation.

[2022-03-05 05:35] Lalit3716 commented on #13
Hello, I tried setting up testing on backend using mocha for running tests, chai for assertions and supertest libraries.

[2022-03-05 05:35] Lalit3716 commented on #13
So if no one is working on this maybe you can assign this to me ? and I will open a PR for the same for code review ?

[2022-03-05 06:24] Rishabh-malhotraa commented on #13
Sure, remember with testing, adding test cases are more important than the test itself

[2022-03-05 06:36] Lalit3716 commented on #13
Great! I will start writing good test cases once you approve the pattern I followed for setting up testing.

[2022-03-05 07:10] #46 closed

[2022-03-05 07:10] #42 closed

[2022-03-05 07:11] #41 closed

[2022-03-05 07:40] Lalit3716 commented on #50
Are you working on this @SidharthMishra-07 ?
If not, can I work on it @Rishabh-malhotraa ?

[2022-03-05 13:03] Jassi10000 commented on #32
@Rishabh-malhotraa You could have assigned me , I also opened the issue 3 days ago as well

[2022-03-05 13:56] SidharthMishra-07 commented on #50
@Rishabh-malhotraa Can you assign me as well ? Can we both work on it?

[2022-03-05 15:15] hazemessam commented on #10
@Rishabh-malhotraa
Please, assign it to me

[2022-03-05 16:59] himanshusanecha commented on #11
I am interested to work upon this issue.

[2022-03-05 18:06] Rishabh-malhotraa commented on #11
This will be worked on once the login flow is completed.

[2022-03-05 18:07] Rishabh-malhotraa commented on #54
What do you plan to add?

[2022-03-05 18:25] shivam123-dev commented on #54
In the documentation there is no description about Vita App's Meet Page. Just want to add it @Rishabh-malhotraa

[2022-03-05 18:54] #32 closed

[2022-03-05 19:07] Rishabh-malhotraa commented on #54
I don't think so its required, I only want to add things on readme which are only essential

[2022-03-06 04:21] shivam123-dev commented on #54
Ok sir

[2022-03-06 04:21] #54 closed

[2022-03-06 16:11] gayatrisakure commented on #22
Can I work on this issue for GSSoC'22 ?

[2022-03-06 18:33] Saba2402 commented on #22
Please assign this issue to me .I want to work over it under GSSoc

[2022-03-06 19:39] Rishabh-malhotraa commented on #22
@gayatrisakur this is the design we are thinking of implememting
Maybe @Lalit3716 and you can work together on this

 ![image](https://user-images.githubusercontent.com/54576074/156939285-bcec7222-0b5b-4e6f-b422-db221c9cc037.png)

[2022-03-07 01:55] Lalit3716 commented on #22
I would love to work on this with @gayatrisakure If he allows that.

[2022-03-07 02:42] Rahul-go1503 opened #58 "Implement Login Using JWT Web tokens"
### Description

When  a user wants to login with their email and password we use jwt tokens for authorization.
I want to work on this issue under GSSoc'22.

### Domain

Backend Dev (Express)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE%20OF%20CONDUCT.md) of this project.

### Resources (to implement JWT)

https://www.youtu

[2022-03-07 03:37] gayatrisakure commented on #22
@Rishabh-malhotraa It would be my pleasure working with @Lalit3716.

[2022-03-07 03:39] gayatrisakure commented on #22
@Rishabh-malhotraa it would be my pleasure working with @Lalit3716 . I am ready to work with him

[2022-03-07 03:40] gayatrisakure commented on #22
@Rishabh-malhotraa it would be my pleasure working with @Lalit3716 . i would like to work with him.

[2022-03-07 03:59] Lalit3716 commented on #22
@gayatrisakure cool! Can you tell me your discord name so we can connect ?

[2022-03-07 12:05] AdnanMuzavor commented on #58
Can you please assign this issue to me @Rishabh-malhotraa . Or is it already assigned?

[2022-03-07 12:42] gaurikapoplai21 commented on #58
Hey, can you assign this to me, if not already assigned?

[2022-03-07 15:35] Sauvikn98 opened #60 "[WIP] User Dashboard Settings Component"
### Description

![image](https://user-images.githubusercontent.com/54576074/157068028-2ec6043f-1404-4352-846a-91cb166b91fe.png)

<img width="669" alt="image" src="https://user-images.githubusercontent.com/54576074/157069208-d44f2cac-1b79-4cdc-a675-76d3b6d153e5.png">

**FILES TO EDIT** : `client/src/pages/Dashboard/index.tsx`
https://github.com/Rishabh-malhotraa/Vita/blob/main/client/src/pages/Das

[2022-03-07 17:23] Ardent10 opened #61 "Fixing Search box and CSS"
### Description

The search box is not working at the moment.
![image](https://user-images.githubusercontent.com/73132031/157085060-d541cf5b-f140-44e1-b5fa-d0200b0f2407.png)

The CSS on the front page is a bit odd as it overlays on the Find a Mentor button.
![image](https://user-images.githubusercontent.com/73132031/157085323-b1d02a59-acfe-419f-b400-24c980811698.png)

### Domain

Front-End (Stylin

[2022-03-07 22:56] hazemessam commented on #10
@Rishabh-malhotraa I am sorry for my late. I will start working on it by tomorrow.

[2022-03-08 04:11] Rahul-go1503 commented on #58
@Rishabh-malhotraa I would also like to work on this. If @gaurikapoplai21 don't mind can you also assign to me ? we can work together

[2022-03-08 16:57] Rishabh-malhotraa opened #62 "Create Blog site for Vita"
### Description

We would not add anything to the client folder for this but create a new subdir called blog

This would be hosted on a different subdomain like `blog.vita.com`

Example : https://blog.adplist.org/

- Discussion on which headless CMS to use & why (Gatsby, Ghost, Strapi, Netlify, WordPress, etc)
- It should be cheap (ideally free)
- I should be easily integrated with React
- Adding

[2022-03-09 06:18] Sayan-dev opened #63 "Issue regarding ui of booking slots"
### Description

**While Booking a slot with a mentor, The UI is not consistent for the date and time selection when I come back from the email, agenda input screen.**
###
This Happens after I fill the agenda and come back to change the scheduled date
![but-vita1](https://user-images.githubusercontent.com/42710260/157383370-793fd633-dc11-4fed-9a18-953f252d0389.png)
![bug-vita2](https://user-images

[2022-03-09 20:01] Rishabh-malhotraa commented on #63
I think this is a screen-width issue, we need to fix the some CSS properties to take care of responsiveness for smaller screens

It works fine on my screen
<img width="904" alt="image" src="https://user-images.githubusercontent.com/54576074/157523976-3f391752-aa90-4769-afc8-fb79dc067d36.png">

[2022-03-14 04:59] Rishabh-malhotraa opened #65 "Add Makefile"
### Description

Transfer the build scripts from `package.json` to Makefile -- it would give more control over what we can do, moving further on

### Domain

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-14 20:33] Harshil-Jani commented on #65
Hey ! @Rishabh-malhotraa I would like to take up this.

[2022-03-15 03:49] Rishabh-malhotraa commented on #65
@Harshil-Jani Are you aware of what a Makefile does?

[2022-03-15 03:55] Harshil-Jani commented on #65
@Rishabh-malhotraa It just helps in compiling the commands altogether so we don't have to go through all installation steps. All we have to do is execute the makefile using `make` commmand. Although I have never written any Makefiles yet. But, I have used this for installing many OSS.

[2022-03-17 19:14] Rishabh-malhotraa opened #67 "Make Figma Mockups of the webstie"
### Description

Make Figma mockups of the entire website

- you **don't need to design anything on your own**. Just replicate the current design of the website on Figma.

### Domain

UI/UX

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-18 07:59] yahya-cloud opened #68 "No copy link option avalaible"
### Description

As of now the user have to copy the link by selecting the whole room link, no click to copy option present.

![Screenshot 2022-03-18 at 13-33-02 Meeting by yahya](https://user-images.githubusercontent.com/59670962/158960723-75fb971a-c33b-45d2-b56f-ee03a4d0234c.png)

### Domain

Front-End (Styling/Markup)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github

[2022-03-18 08:03] yahya-cloud commented on #68
Hello, can you please assign me this issue.

[2022-03-18 08:05] yahya-cloud commented on #68
/assign

[2022-03-18 08:50] jyotivakare33 commented on #67
Hi @Rishabh-malhotraa can you assign this issue to me under Gssoc22

[2022-03-18 09:17] Rishabh-malhotraa commented on #67
Do you have experience with figma?

[2022-03-18 09:40] jyotivakare33 commented on #67
No @Rishabh-malhotraa Apologies my bad i assumed it to different issue.

[2022-03-18 19:00] SatabrataPaul-GitAc commented on #58
Hello
I am an active participant of GSSOC'22
I have already contributed to other projects in the past 2 weeks
Can I work on this issue ?
I would like to contribute to this project

[2022-03-18 19:13] Rishabh-malhotraa commented on #58
Hello @SatabrataPaul-GitAc its currently being worked on, would you like to work on something else, there is an issue regarding SMTP server, maybe you can look at that

[2022-03-19 03:41] SatabrataPaul-GitAc commented on #58
Yaa sure
Can you assign me with that issue

On Sat, 19 Mar 2022, 00:43 Rishabh Malhotra, ***@***.***>
wrote:

[2022-03-19 03:44] SatabrataPaul-GitAc commented on #10
Hello
I am Satabrata Paul
Currently I have contributed to few projects in the past 2 weeks in GSSOC'22.
I would like to work for Vita on this issue
Can you please assign it to me

[2022-03-19 04:50] hazemessam commented on #10
I'm currently working on it.

[2022-03-19 16:26] RaviAnand111 commented on #9
so @sagnik2001 are you working on this, if yes would you like to collaborate and if no @Rishabh-malhotraa Can I give it a shot ?

[2022-03-21 12:02] nitishsaini706 commented on #62
@Rishabh-malhotraa Can i use typescript or next.js for this blog site ?

[2022-03-21 12:31] Rishabh-malhotraa commented on #62
I think with blogging websites `Sever side generated pages` do not make sense, a static page generator like gatsby would me more recommend.

But you can let me know how do you plan to implement this with Next.js

Plus I assume you would also be using a cms with next.js

[2022-03-21 14:06] nitishsaini706 commented on #62
@Rishabh-malhotraa Can we connect on discord

[2022-03-22 19:16] masterpranay1 commented on #67
Hey @Rishabh-malhotraa  I would like to work on the Figma Design for Vita.
I have previous experience with figma. These are my some of the work on figma
- https://www.figma.com/file/fUXAI9ipGeknQrIPXukh3M/Snake-Game-UI?node-id=0%3A1
- https://www.figma.com/file/DNQCGyy4F9IMBqDDK3jkIn/Smart-form?node-id=0%3A1

I am always excited about UI / UX . Please assign this issue to me.

[2022-03-22 19:46] Rishabh-malhotraa commented on #67
Why don't you start by creating the mockups for the [sign-up pages](https://deploy-preview-64--vitaa-app.netlify.app/complete-signup)? We mainly need the mockups to improve the colour theme and make a light theme. It is way faster to do all of that on Figma than by testing things manually by changing CSS

[2022-03-22 20:03] masterpranay1 commented on #67
Sure!! I will start with sign up / sign in page

[2022-03-24 21:25] #65 closed

[2022-03-26 07:09] #50 closed

[2022-03-26 07:23] #14 closed

[2022-03-26 09:08] Rishabh-malhotraa opened #72 "Add componenets to Landing Page"
### Description

Add the following component to the landing page

Content should be
Box 1:  Join the Community - [Add Discord Link]
Box 2:  Become a Mentor - [Add Sign Up Link]
Box 3:  Help Create Vita - [Add Github Link]

https://solana.com/

<img width="1415" alt="image" src="https://user-images.githubusercontent.com/54576074/160232634-af60cd85-5d50-4cf6-8834-0cb024965dcc.png">

### Domain

Fron

[2022-03-26 13:46] #21 closed

[2022-03-26 17:05] Lalit3716 commented on #72
Hi, I can try doing this if you want you can assign me, Thanks!

[2022-03-26 18:45] Lalit3716 opened #74 "Implement complete authentication flow."
### Description

I wanted to connect frontend and backend to finally finish off complete Authentication flow.

Depends on - PR #69

### Domain

Full Stack

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-03-26 19:25] #22 closed

[2022-03-26 19:25] #39 closed

[2022-03-29 13:29] Shelly011s commented on #11
Assign this to me once the login flow is complete.

[2022-03-29 13:34] Shelly011s commented on #60
/assign

[2022-03-29 18:14] Sauvikn98 commented on #60
/assign

[2022-03-29 18:17] #60 closed

[2022-03-29 18:20] Sauvikn98 opened #75 "[WIP] User Dashboard Settings Component"
### Description

### Description

![image](https://user-images.githubusercontent.com/54576074/157068028-2ec6043f-1404-4352-846a-91cb166b91fe.png)

<img width="669" alt="image" src="https://user-images.githubusercontent.com/54576074/157069208-d44f2cac-1b79-4cdc-a675-76d3b6d153e5.png">

**FILES TO EDIT** : `client/src/pages/Dashboard/index.tsx`
https://github.com/Rishabh-malhotraa/Vita/blob/main/cli

[2022-04-04 13:00] Sukriti-m commented on #67
Hi @Rishabh-malhotraa
If @masterpranay1 is delaying this task, then I'd be grateful if you could assign this task to me under GSSOC'22.
I have experience in UX/UI design and know my way around Figma.

The following are the links to my Figma design:

- https://www.figma.com/file/Fci0j9SBxtqLcEjJw3qxEX/Sukriti-Maurya_STATIONERY-WEBSITE
- https://www.figma.com/file/w7xUpMsN3j2te8e3LemjkW/1-Game-Libra

[2022-04-05 16:03] Susmita-Dey opened #77 "[Documentation] Rename License file"
License file in this repository has a spelling mistake. I'm a GSSoC'22 contributor. Kindly assign this to me.

[2022-04-05 16:22] indraantoor opened #79 "[Homepage]: Get Mentorship from Alumni - Not Responsive"
### Description

The Get Mentorship from Alumni Section is not responsive for mobile layout.

It's layout can also be improved. I am thinking about making the **navigation arrows** available on the sides of the Mentor Information card and relocating the "**Explore All**" button to the bottom of the mentor information card with a bigger size in the center so that if the user wants to view all mento

[2022-04-05 16:55] Susmita-Dey commented on #77
/assign

[2022-04-06 09:04] indraantoor commented on #79
/assign

[2022-04-07 14:40] Susmita-Dey opened #81 "[Documentation]: Enhance the README file"
### Description

I want to enhance the **README** file using emojis and adding some text to it.
**I'm a GSSoC'22 contributor. Kindly assign this issue to me.**

### Domain

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-07 14:42] Susmita-Dey commented on #81
/assign

[2022-04-08 13:23] ayush25102001 opened #82 "Password Field"
### Description

When the user signs up to the application the user sets a password according to which he is verified on further logins.
Can I add a confirm password field here so that we reconfirm the password set by user during signUp

### Domain

Front-End (Styling/Markup)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_

[2022-04-09 07:36] dasgupta002 commented on #67
Has anyone done with this issue?
Else I am interested in solving this one @Rishabh-malhotraa .

[2022-04-10 07:04] 19arnab190201 opened #83 "Mentor Profile Card UI Improvement"
### Description

I want to improve the profile card UI for better look and feel keeping in mind the design pattern of the project please assign it to me  under the tag GSSOC22

### Domain

Front-End (Styling/Markup)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-10 07:12] 19arnab190201 commented on #83
/assign

[2022-04-12 03:14] Rishabh-malhotraa commented on #83
How do you plan to improve the design?

[2022-04-13 10:39] Lalit3716 commented on #7
Is anyone working on this or is it in development ?
I would love to tackle this issue.

[2022-04-14 10:23] jyotivakare33 commented on #82
/assign

[2022-04-14 10:25] jyotivakare33 commented on #63
@Rishabh-malhotraa Please assignt this issue to me under GSSOC'22

[2022-04-14 10:30] jyotivakare33 commented on #68
/assign

[2022-04-14 10:32] jyotivakare33 commented on #68
@Rishabh-malhotraa Can you assign me this issue under GSSOC'22

[2022-04-14 11:14] ayush25102001 commented on #82
/assign

[2022-04-14 17:14] #10 closed

[2022-04-14 17:16] #6 closed

[2022-04-14 18:08] #58 closed

[2022-04-15 05:41] Lalit3716 commented on #74
/assign

[2022-04-15 11:15] #79 closed

[2022-04-17 10:09] Rishabh-malhotraa opened #86 "Improving Search Queries"
### Description

- [ ]  Improve Filtering for Mentor Selection
    - Allow users to choose multiple options in the filter by expertise and filter by motivation
    - Frontend Changes - enable multi-selection in the dropdown
    - Backend Changes - Implement logic to querying mentor information when we have multiple options for the same search query.
        - `Eg motivation : [”Marketing” , “Leade

[2022-04-17 10:19] DevRish commented on #86
Hi @Rishabh-malhotraa I would like to work on this issue

[2022-04-17 10:20] DevRish commented on #86
/assign

[2022-04-17 10:50] Rishabh-malhotraa opened #87 "Enable user to call the FTS endpoint"
### Description

Currently, the text field is disabled, we should enable it to allow users to search-text input text.
- The [API to do an FTS query](https://github.com/Rishabh-malhotraa/Vita/blob/main/api/src/controllers/api-controller.ts#L8-L53) on the Mentor Collection is already been implemented, we need to integrate it with the frontend
- Add Debouncing when the user is entering text in the in

[2022-04-17 10:55] Rishabh-malhotraa opened #88 "Add Carousel Component For Topics"
### Description

Currently, we have a carousel component [for mentors](https://github.com/Rishabh-malhotraa/Vita/blob/main/client/src/components/Carousel/index.tsx#L65-L69).
Add a carousel component for topics as well.

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/54576074/163711344-8c7e1ae2-dd13-4a7b-965f-d9eb6c34ee6c.png">

### Domain

Front-End (Styling/Markup)

[2022-04-18 15:19] Kanika637 commented on #88
I would like to work on this issue under GSSSoC 2022.

[2022-04-18 15:46] Rishabh-malhotraa commented on #88
Great, I'll assign it to you.

[2022-04-19 09:32] Kanika637 commented on #88
I wanted to ask for some details:
-> What are the topics that I have to include in that carousel.
-> Exactly where I have to set up this carousel in the website( the position ).

[2022-04-19 09:52] Rishabh-malhotraa commented on #88
You should include all topics

On the landing page, below the UserCard Carousel component.

[2022-04-19 09:54] Kanika637 commented on #88
Is the list of topics anywhere listed?

[2022-04-19 11:35] Rishabh-malhotraa commented on #88
<img width="1378" alt="image" src="https://user-images.githubusercontent.com/54576074/163994724-5ff935f6-d99e-43cf-8173-2fd29b09056a.png">

[Topic Page](https://github.com/Rishabh-malhotraa/Vita/blob/main/client/src/pages/SearchPage/TopicsPage.tsx)

[2022-04-21 15:33] TG922 opened #93 "[Create New Issue]: Adding a Password Field"
### Description

I would like to add Password Field, where the user signs up to the site and sets a password according to which he/she will be verified on further logins.

### Domain

Front-End (Styling/Markup)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-04-22 12:06] Rishabh-malhotraa opened #94 "Build a whats happening component"
### Description

Build a what's happening component like the follow for the landing page

https://www.resuminator.in/
<img width="1303" alt="image" src="https://user-images.githubusercontent.com/54576074/164710808-d2f2090a-ee25-43a3-9cae-63e9b6b19bcd.png">

https://www.remnote.com/
<img width="1080" alt="image" src="https://user-images.githubusercontent.com/54576074/164710969-69f586e6-e9a3-4a64-9f

[2022-04-23 07:43] Rishabh-malhotraa commented on #9
@RaviAnand111 do you still want to work on it?

[2022-04-27 08:20] Lalit3716 commented on #94
/assign

[2022-04-27 09:07] Rishabh-malhotraa opened #98 "Build a mentor Values component"
### Description

## Description
Build a mentor Values component like the following for the landing page

![image](https://user-images.githubusercontent.com/54576074/165483406-341553dc-6fac-4456-8b42-7d7377e786f8.png)

[Component](https://adplist.org/)

### Requirements

- Use Dark theme color palette (the above image is light theme)
- It should be responsive

### Domain

Front-End (Styling/Markup)

[2022-04-27 19:05] Rishabh-malhotraa opened #99 "Contributor Component on the Landing Page"
### Description

Create a contributor component at the bottom of the landing page to celebrate open source contributions from all the contributors and give them a shoutout.

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/54576074/165600690-6307fff3-f6c0-456f-857d-e2fd35e5a3af.png">

https://iiitdplaybook.web.app/homepage  (Scroll to the bottom)

- Use the chip compone

[2022-04-29 02:47] mayank-del commented on #11
@Rishabh-malhotraa , can work under this issue under gssoc22

[2022-04-29 02:49] mayank-del commented on #19
Can i work under this issue under gssoc22

[2022-04-30 11:11] Rishabh-malhotraa opened #101 "Migrate React Select to MUI select"
### Description

Remove extra dependencies, plus mui select component would be more consistent with the design of the rest of the application

Where all do we need to make the changes

1. Landing Page
2. Signup Form
3. Login Form
4. Booking Slot Component
5. Search Component

Remove the react-select dependency

### Domain

Front-End (State-Management React)

### Code of Conduct

- [X] I follow [Co

[2022-04-30 17:53] #98 closed

[2022-05-09 09:30] sha1shwat commented on #101
@Rishabh-malhotraa  I want to work on this. Can you plz assign me this

[2022-05-11 16:14] akankshat05 commented on #88
@Rishabh-malhotraa I can work on this

[2022-05-19 04:29] navyasharma0203 commented on #88
@Rishabh-malhotraa Can I work on this??

[2022-05-19 04:31] Rishabh-malhotraa commented on #88
It's not really something that I am looking to add now, you can work on this issue instead
https://github.com/Rishabh-malhotraa/Vita/issues/99

[2022-05-19 04:51] navyasharma0203 commented on #99
/assign

[2022-05-19 04:54] navyasharma0203 commented on #99
Does this issue come under GSSOC'22...If yes, could you please assign a level tag for it?? Thanks :)

[2022-05-28 17:22] whitewalker01 opened #106 "[Create New Issue]: Checked out the website, there is some glitch in data retrieval on profile pictures"
### Description

Description:
When checking the site out for mentors, i could spot the same image for 2 different profiles.
Have taken a screenshot and attached it below:
![image](https://user-images.githubusercontent.com/55129700/170836071-f95a5473-8029-4799-a883-15b44a5a4358.png)

GSSOC 2022 contributor.

### Domain

Backend Dev (Express)

### Code of Conduct

- [X] I follow [Contributing Guidel

[2022-06-02 05:10] Rishabh-malhotraa commented on #106
Hello @whitewalker01 currently we use mock data, that's why we have duplicate, when we release in production we would use real data

[2022-06-12 03:32] #74 closed

[2022-06-21 05:19] #19 closed

[2022-07-04 19:16] ancoreraj commented on #101
I want to work on it. Assign it to me.

[2022-07-04 19:22] Lalit3716 opened #124 "Styling Email Templates"
### Description

Research on how to style our email templates using node-mailer. Currently we are just sending a plain email message like this:-

![Screenshot 2022-07-05 004949](https://user-images.githubusercontent.com/84276404/177208334-2818dcb0-da0b-4cb7-b46d-2a6731bf5260.png)

We want to send something like this:-
![Screenshot 2022-07-05 004916](https://user-images.githubusercontent.com/842764

[2022-07-04 19:29] ancoreraj commented on #124
@Lalit3716 I want to work on this. Can you assign it to me.

[2022-07-07 09:03] #124 closed

[2022-07-07 09:03] #7 closed

[2022-07-07 09:04] #18 closed

[2022-07-07 09:05] #81 closed

[2022-07-08 08:08] Rishabh-malhotraa commented on #101
Hey this solution is already wip

[2022-07-12 17:32] Sahaj-Srivastava24 commented on #87
I wanna work on this. I heard the API endpoint is set, and all that is left is debouncing the input field.
Can I get assigned to this..?

[2022-09-15 16:42] #99 closed

[2022-09-15 16:43] #94 closed

[2022-09-15 16:43] #87 closed

[2022-09-15 16:46] #83 closed

[2022-09-15 16:50] #82 closed

[2022-09-15 16:51] #75 closed

[2022-09-15 16:52] #68 closed

[2022-09-15 16:58] #67 closed

[2022-09-15 17:01] #63 closed

[2022-09-15 17:04] #61 closed

[2022-09-15 17:06] #43 closed

[2022-09-15 17:07] #13 closed

[2022-09-15 17:08] #11 closed

[2022-09-15 17:09] #12 closed

[2022-09-15 17:10] #8 closed

[2022-09-21 18:16] l1mey112 opened #148 "[logo]: vlang stole your logo!"
### Description

The V programming language and all of it's source material use your logo!

It's website is [here](https://vlang.io/), it has your logo plastered all over the front page. I consider messaging them for negotiation.

Report back to me and I'll give them piece of my mind for stealing your logo.

### Domain

Full Stack

### Code of Conduct

- [X] I follow [Contributing Guidelines](http

[2022-09-22 00:23] ylluminate commented on #148
Thanks for reporting this @l1mey112 to the Vita community. Hopefully they'll resolve this very quickly since this is an ugly stain on their project that may be perhaps a little flattering to the (awesome) V programming language.

[2022-09-22 07:01] ArtemkaKun commented on #148
What a thing! Shame for the Vlang community

[2022-09-24 08:00] Rishabh-malhotraa commented on #148
@ylluminate  @ArtemkaKun @l1mey112 Hey I just searched for 'V' icon on google and took the first image i liked, there was no ill-intention to steal the logo or anything, we will change it to something else soon. Thanks for letting us know!

[2022-09-24 10:37] ArtemkaKun commented on #148
Thanks :)

[2022-09-24 17:02] Lalit3716 opened #150 "[UI]: Improve Footer"
### Description

We currently have this footer component:-

<img src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F5d79b851-e2aa-4ddb-a547-36e17d405717%2FUntitled.png?table=block&id=afd06eae-41a8-43cd-8feb-5f5fd3df4500&spaceId=26c7303e-f8b5-47c1-9d4f-c2a99f1890a9&width=2000&userId=5190b022-4af9-4190-bb00-7a4709a13979&cache=v2" />

But we would l

[2022-09-24 17:24] Lalit3716 opened #151 "[UI]: Improve the notifications component"
### Description

We currently have this notifications component:

![Screenshot 2022-09-24 225151](https://user-images.githubusercontent.com/84276404/192110869-6d86c381-24c9-47d8-a97e-ad9c01237963.png)

We can make it look good by making it something like this:

![](https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F312c3b95-5dcb-4c69-8d9c-065bdbbd24f6

[2022-09-27 15:29] AyushK-101 commented on #150
/assign

[2022-09-27 15:31] AyushK-101 commented on #151
/assign

[2022-09-28 11:06] Lalit3716 opened #152 "Fetch topics from backend"
### Description

Currently, we are using [hard-coded](https://github.com/Lalit3716/Vita/blob/main/client/src/data/topics.ts) values for displaying topics on the front end.

We want to fetch this data from the backend.

- Make a route for fetching topics data from the backend.
- Make an API call from the front end to that route.
- Use that data on the frontend instead of hard-coded data.

### Domai

[2022-10-01 17:31] Sanketh149 commented on #152
I want to do this as a hacktoberfest contribution
Please assign this to me.

[2022-10-02 04:15] Lalit3716 commented on #152
@Sanketh149 sure go ahead

[2022-10-02 11:31] Senor-Ducky commented on #62
If Next.js is being used I would like to work along with @nitishsaini706  on this task, please assign me to this, also if you need to get in touch with me here's my discord tag Senor-Ducky#2521

[2022-10-03 08:04] Icelain commented on #152
Hi, I was going through this project earlier and saw this issue yesterday. I know this is already assigned but I managed to make the backend route that was supposed to be added. I've a made a PR for the same. #153

[2022-10-03 13:48] meerhamzadev commented on #101
Hey, Is this issue still open?? I would like to give it a try.

[2022-10-04 10:05] Lalit3716 commented on #152
Hi, @Icelain I have also assigned this task to you then I hope you both can work on this together.

[2022-10-05 08:56] FreakyRed commented on #150
Hi, I would like to work on this issue if possible

[2022-10-05 08:57] Lalit3716 commented on #150
Yeah sure go ahead.

[2022-10-05 09:57] Lalit3716 opened #154 "Allow mentors to modify their experience section on settings page"
### Description

- Allow mentors to update their experiences.
- Make a new tab on the settings page for it just like we have for time slots.
- Try to reuse [EditableField Component](https://github.com/Vita-App/Vita/blob/main/client/src/components/EditableField/index.tsx)

### Domain

Full Stack

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita

[2022-10-06 17:02] AyushK-101 commented on #151
@Lalit3716 I was unassigned from the issue, might be because I self-assigned it (a few days) before the Semester long/ Hacktober period. The issue has the Assigned tag but no one has been assigned. So can I work on it?

[2022-10-07 09:45] Lalit3716 opened #155 "[UI]: Create a 404 Page"
### Description

Currently, we don't have any 404 page for our website.

- Design a dark-themed 404 page.
- Make a wildcard route to catch all other routes to display that page.

### Domain

Front-End (Styling/Markup)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rishabh-malhotraa/Vita/blob/main/CODE_OF_CONDUCT.md) of this project.

[2022-10-07 09:49] Volley-Freak commented on #155
Hii Lalit. Would be happy to create this page.
Please assign this task to me.

[2022-10-07 09:53] SOUMYADIP76 commented on #155
i would like to solve this issue. Please assign me this is issue @Lalit3716

[2022-10-09 19:15] FreakyRed commented on #150
Sorry, haven't found the free time to do it. Feel free to unassign me, sorry once again!

[2022-10-09 19:25] Lalit3716 commented on #150
Okay no problem 🙂

[2022-10-20 06:01] Lalit3716 commented on #152
Hi @Icelain, @Sanketh149 now that we have a backend route for topics do you wanna try to integrate with the frontend for example in this component https://github.com/Vita-App/Vita/blob/main/client/src/pages/SearchPage/TopicsPage.tsx?

[2022-10-20 13:16] Lalit3716 commented on #151
Hi @AyushK-101, any updates on this one?

[2022-10-25 08:13] Sauvikn98 commented on #151
Interested @Lalit3716

[2022-11-29 16:37] #151 closed